<div class="animate__animated animate__fadeIn animate__faster">

    <h2>Por Capital</h2>
    <hr>
    
    <div class="row">
        <div class="col">
           <app-pais-input 
            (onEnter)="Buscar($event)"
            (onDebounce)="Sugerencias($event)"
            placeholder="Por capital..."
           ></app-pais-input>
        </div>
    </div>
    
    <hr>

</div>

<div *ngIf="hayError" class="alet alert-danger">
    No se encontro nada
</div>

<div *ngIf="!hayError && paises.length>0" class="row">
    <div  class="col">
        <app-pais-table [paises]="paises"></app-pais-table>
    </div>
</div>
